<html>
  <head>

      <link href="../css/style.css" rel="stylesheet">
    </head>
      <div ng-controller="controlForgotPassword">
          <section id=main>
       
              
                    <form name="myForm">
                      <div>
                        <br>
                        <h1><b>Forgot password?</b></h1>
                        <br>
                        <h2><label for="email"><b>Email</b></label></h2>
                        <input type="text" placeholder="Enter Email" name="email" ng-model="email" required autocomplete="on">
                        <div></div>
                        <br>
                        <button type="submit" value="log In" ng-click="forgotPassword()" class="login-button">Submit</button>
                        <br>
                      </div>
                    </form>
                 
          </section>
        </div>

</html>


<link href="../css/abc.css" rel="stylesheet">