
  <html  ng-app="myApp">

    <head>
        <link href="../css/style.css" rel="stylesheet">
    </head>
      
              <form >
                <div>
                  
                  <h1><b>Forgotpassword</b></h1>
                  
                  <h2><label for="email"><b>Email</b></label></h2>
                  <input type="text" placeholder="Enter Email" name="email" ng-model="email" required autocomplete="on">
                  <div></div>
                  <br>
                  
                  <button type="submit"  value="log In"  class="login-button" ng-click="forgotPassword()" ng-disabled="myForm.$invalid">Forgotpassword</button>
                  <br>
                </div>
              </form>
            
   </html>
