

<html ng-app="myApp">

<head>
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
        <form>
                <h2><b>Email</b></h2>
                <input type="text" name="email" ng-model="email" placeholder="Enter Username" autocomplete="on"
                    required>

                <h2><b>Password</b></h2>
                <input type="password" name="password" ng-model="password" placeholder="Enter Password"
                    minlength="8" autocomplete="on" title="Must contain  at least 8 or more characters" required>

                <button type="submit" value="log In" ng-click="login()" class="login-button">Login</button>
               
                <div class="butt">
                    <p> Click on register to create a new account <br><br>
                        <a href="http://localhost:3000/#!/register">Register</a><br>
                        <a href="http://localhost:3000/#!/forgotPassword">Forgotpassword</a>
                       
                    </p>
                </div>    
        </form>        
</body>

</html>