<html >

<head>

    <link href="../css/style.css" rel="stylesheet">
</head>
<body ng-controller="controlResetPassword">
  
      

        <form >

            <div>
                <br>
                <h1><b>Reset password?</b></h1>
            </div>
            <div>

                <label><b>Password</b></label><br>
                <input type="password" name="password" ng-model="password" id="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required /><br>
                <br>


                <label><b>Confirm Password</b></label><br>
                <input type="password" name="confirmPassword" ng-model="confirmPassword" id="confirm_password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm Password"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required /><br>

                <div>
                    <br>
                    <button type="submit" value="log In" ng-click="login()" class="login-button">Submit</button>
                </div>

            </div>
        </form>
   
 </body>

</html>